{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- shopping-cart-area start -->
    <div class="cart-main-area ptb-100">
        <div class="container">
            <h3 class="page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Product Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <div class="product-img" style="border: none; padding-left: 2%">
                                                <a href="#"><img src="{{item.product.imageURL}}" alt=""></a>
                                                {% if item.product.discount %}
                                                    <span>-{{item.product.discount}}%</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="product-name"><a href="#">{{item.product.title}}</a></td>
                                        <td class="product-price-cart">
                                            <span>&#x20B9;{{item.product.price|floatformat:2}} </span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="pro-dec-cart">
                                                <a href="#"><i data-product="{{item.product.id}}" data-action="remove" class="fa fa-minus-circle pr-10 update-cart" aria-hidden="true"></i></a>
                                                <span class="h6">{{item.quantity}}</span>
                                                <a href="#"><i data-product="{{item.product.id}}" data-action="add" class="fa fa-plus-circle pl-10 update-cart" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                        <td class="product-subtotal">&#x20B9;{{item.get_total|floatformat:2}}</td>
                                        <td class="product-remove">
                                            <a href="#"><i class="fa fa-times"></i></a>
                                        </td>
                                    </tr> 
                                {% endfor %}                                
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="{% url 'home' %}">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear">
                                        <button>Update Shopping Cart</button>
                                        <a href="#">Clear Shopping Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="cart-tax">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gray">Estimate Shipping And Tax</h4>
                                </div>
                                <div class="tax-wrapper">
                                    <p>Enter your destination to get a shipping estimate.</p>
                                    <div class="tax-select-wrapper">
                                        <div class="tax-select">
                                            <label>
                                                * Country
                                            </label>
                                            <select class="email s-email s-wid">
                                                <option>Bangladesh</option>
                                                <option>Albania</option>
                                                <option>Åland Islands</option>
                                                <option>Afghanistan</option>
                                                <option>Belgium</option>
                                            </select>
                                        </div>
                                        <div class="tax-select">
                                            <label>
                                                * Region / State
                                            </label>
                                            <select class="email s-email s-wid">
                                                <option>Bangladesh</option>
                                                <option>Albania</option>
                                                <option>Åland Islands</option>
                                                <option>Afghanistan</option>
                                                <option>Belgium</option>
                                            </select>
                                        </div>
                                        <div class="tax-select">
                                            <label>
                                                * Zip/Postal Code
                                            </label>
                                            <input type="text">
                                        </div>
                                        <button class="cart-btn-2" type="submit">Get A Quote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="discount-code-wrapper">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4> 
                                </div>
                                <div class="discount-code">
                                    <p>Enter your coupon code if you have one.</p>
                                    <form>
                                        <input type="text" required="" name="name">
                                        <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                </div>
                                <h5>Total Items <span>{{order.get_cart_items}}</span></h5>
                                <h5>Subtotal <span>&#x20B9;{{order.get_cart_total|floatformat:2}}</span></h5>
                                <h4 class="grand-totall-title">Grand Total  <span>&#x20B9;{{order.get_cart_total|floatformat:2}}</span></h4>
                                <a href="#">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}